<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.sspo.dao.TopicDao">
	<resultMap type="xmu.sspo.model.Topic" id="TopicList">
         <result column="id" property="id"/>
         <result column="center_index" property="center_index"/>
         <result column="title" property="title"/>
         <result column="news_list" property="news_list"/>
         <result column="news_number" property="news_number"/>
         <result column="platform_number" property="platform_number"/>
     </resultMap>
	
	<!-- 获取周期性的话题列表 -->	
	<select id="listTopicCyclely" resultType="topic" parameterType="java.util.Map" statementType="STATEMENT">	
		<![CDATA[
			SELECT id,center_index,title,news_list,news_number,platform_number
			FROM ${cycle}
		]]>
	</select>
     
     <select id="getTopicImg" resultType="topic" parameterType="java.util.Map" statementType="STATEMENT">	
		<![CDATA[
			SELECT id,center_index,title,news_list,news_number,platform_number
			FROM ${cycle}
			where id=${id}
		]]>
	</select>
</mapper>